/* Exportamos las fuentes a utilizar */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "variables";

/* Estilo generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de color para fondo de la pagina */
body {
    background-color: $color_primario;
}

/* Estilos para el header */
header {
    background-color: $color_secundario;
    @include display(flex, space-evenly, center);
}

/* Estilos para los h1 */
h1 {
    padding: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: underline;
    color: white;
}

/* Estilos para los h2 */
h2 {
    font-weight: bold;
}

/* Estilos para los ul de nav */
nav {
    ul {
        @include display(flex, space-around, center);
        padding: 20px;
        width: 700px;
        list-style: none;
    }
}

/* Estilos para los a de nav */
nav {
    ul {
        li {
            a {
                text-decoration: none;
                font-size: 20px;
                background-color: $color_terciario;
                border-radius: 4px;
                padding: 3px;
            }
        }
    }
}

/* Estilos para los a */
a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    background-color: $color_terciario;
    border-radius: 4px;
    padding: 3px;

    /* Estilos para los a dependiendo de su funcion */
    &:link,
    &:visited {
        color: black;
    }
}

/* Estilo para el iframe */
iframe {
    @include display(block);
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    height: 200px;
    border: 0;
}

/* Estilos para el grid padre */
.grid_padre {
    @include display(grid);
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: repeat(3, 1fr);

    /*Estilos para el header index*/
    .grid_header_index {
        grid-area: header;
        padding: 20px;

        /* Estilos para el h1*/
        h1 {
            font-size: 50px;
            padding: 0;
            margin: 0;
        }
    }
}

/* Declaracion de grid area para main */
.grid_main {
    grid-area: main;
}

/* Ajuste de texto en los accordion */
.accordion-button {
    h2 {
        font-size: 20px;
    }
}

/* Declaracion grid-area para nav y estilos */
.grid_nav {
    grid-area: nav;
    @include display(flex, null, center);

    /* Estilo para los ul de nav */
    ul {
        margin: 0;
    }
}

/* Declaracion grid-area para footer y estilos */
.grid_footer {
    grid-area: footer;
    width: 100%;
    @include display(flex, null, center);
    height: 90px;
    background-color: $color_secundario;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;

    /* Estilos para los p de grid_footer */
    p {
        margin: 10px 200px;
        padding: 0px;
        background-color: transparent;
    }

    /* Estilos para los ul de nav de grid_footer */
    nav {
        ul {
            margin: 0;
            padding: 0;
            width: 300px;
        }
    }
}

/* Estilos para el grid padre de secciones */
.grid_padre_secciones {
    @include display(grid);
    grid-template-areas: "menu  header next" "main main main" "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;

    /* Estilos para el header de secciones */
    .grid_header_secciones {
        grid-area: header;
        width: 100%;
        height: 90px;
    }

    /* Declaracion de grid para el nav_menu */
    .grid_nav_menu_secciones {
        grid-area: menu;
    }

    /* Declaracion de grid para el nav_next */
    .grid_nav_next_secciones {
        grid-area: next;
    }
}

.grid_padre_secciones {
    @include display(flex, space-between, center);
    flex-direction: column;
}

/* Estilos para los botones de rediccionador home y siguiente */
.botones_de_navegacion {
    background-color: $color_terciario;
    padding: 10px;
}

/* Estilos para los p */
.p_infos {
    padding: 20px;
    width: 700px;
    margin: 20px auto;
    border-radius: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: white;
    background-color: $color_secundario;

    /* Estilos para que los p no sobresalgan */
    p {
        max-width: 100%;
    }
}

/* Estilo para la imagen index */
.imagen_index {
    @include display(block);
    width: 900px;
    height: auto;
    border-radius: 30px;
    margin: 20px auto;
}

/* Estilos para el img e iframe */
.img_e_iframe {
    @include display(flex, space-around, center);
    flex-direction: row;
    gap: 20px;

    /* Estilo para la galeria de imagenes */
    .galeria_img {
        @include display(flex, center, center);
        gap: 20px;
        margin: 20px auto;
        max-width: 800px;
        width: 100%;

        /* Estilos para las img de galeria */
        img {
            width: 100%;
            max-width: 100%;
            border-radius: 10px;
        }
    }
}

/* Estilos para el contenedor iframe y p */
.iframe_y_p {
    @include display(flex);
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: $color_secundario;
    border-radius: 20px;
    height: auto;

    /* Estilos para el p del contenedor iframe y p */
    .p_infos {
        text-align: center;
        max-width: 300px;
        padding: 0;
        font-size: 30px;
    }
}

/* Media query mobile */
@media (max-width: 768px) {

    /* Estilos para el grid padre */
    .grid_padre {
        @include display(grid);
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-columns: 1fr;

        /* Estilos para el header de index */
        .grid_header_index {
            grid-area: header;
            width: 100vw;
            flex-direction: column;
        }
    }

    /* Estilos para el grid nav */
    .grid_nav {
        grid-area: nav;
        width: 100vw;
    }

    .grid_nav {
        /* Estilos para los ul de nav */
        @include display(null, center);

        ul {
            flex-wrap: wrap;
            gap: 15px;
            @include display(null, space-around);
        }
    }

    /* Estilos para el main */
    .grid_main {
        grid-area: main;
        width: 100vw;
    }

    /* Estilos para el main con flex */
    .grid_main {
        @include display(flex, null, center);
        flex-direction: column;
    }

    /* Estilos para las secciones del main */
    .grid_main section {
        flex-direction: column;

        /* Estilos para los p de las secciones */
        p {
            width: 80vw;
        }

        /* Estilos para las img de las secciones */
        img {
            width: 90vw;
        }
    }

    /* Estilos para el footer */
    .grid_footer {
        grid-area: footer;
        width: 100vw;
        height: 20vh;
        background-color: $color_secundario;
        text-align: center;
        padding: 15px;
        gap: 20px;

        /* Estilos para los p de footer */
        p {
            width: 100%;
            margin: 0;
            padding: 0px;
            background-color: transparent;
        }
    }

    /* Estilos para el grid padre de las secciones */
    .grid_padre_secciones {
        @include display(grid);
        grid-template-areas:
            "nav_izquierdo header nav_derecho"
            "main"
            "footer";
        grid-template-columns: 1fr;
    }

    /* Estilos flex para el padre grid de las secciones */
    .grid_padre_secciones {
        @include display(flex, space-between, center);
        flex-direction: column;

        /* Estilos para el h1 de las secciones */
        .grid_header_secciones {
            h1 {
                text-align: center;
            }
        }

        /* Estilos para el boton nav de redireccion al menu de las secciones */
        .grid_nav_menu_secciones {
            @include display(flex);
            margin-left: 20px;
        }

        /* Estilos para el boton next de las secciones */
        .grid_nav_next_secciones {
            @include display(flex);
            margin-right: 20px;
        }
    }

    /* Estilos para los p */
    .p_infos {
        padding: 10px;
        width: 100vw;
        margin: 20px auto;
        border-radius: 20px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 20px;
        color: white;
        background-color: $color_secundario;
        max-width: 330px;
    }

    /* Estilos para los botones de navegacion */
    .botones_de_navegacion {
        background-color: $color_terciario;
        padding: 5px;
        text-align: center;
    }

    /* Estilos el contenedor img e iframe */
    .img_e_iframe {
        max-width: 330px;

        /* Estilo para la galeria de imagenes */
        .galeria_img {
            max-width: 350px;
            width: 100%;

            /* Estilos para las img de la galeria */
            img {
                width: 100%;
                max-width: 100%;
                border-radius: 10px;
            }
        }
    }

    /* Estilos para el contenedor iframe y p */
    .iframe_y_p {
        width: 100%;
        max-width: 350px;
        background-color: $color_secundario;
        border-radius: 20px;
        height: auto;
        margin-bottom: 20px;

        /* Estilo para el iframe */
        iframe {
            margin: 20px auto;
            border-radius: 10px;
            width: 100%;
            max-width: 300px;
            height: 150px;
            border: 0;
        }
    }
}

/* Media query tablet */
@media (max-width: 1024px) and (min-width: 768px) {

    /*Estilos para el html y body*/
    html,
    body {
        height: 100%;
    }

    /*Estilos para el grid padre*/
    .grid_padre {
        height: 100%;
        @include display(flex, space-between);
        flex-direction: column;
    }

    /*Estilos para la imagen del index*/
    .imagen_index {
        margin-top: 50px;
        max-width: 90%;
    }

    /*Estilos para el img e iframe*/
    .img_e_iframe {
        flex-direction: column;
        margin-bottom: 20px;

        .galeria_img {
            max-width: 90vw;
        }
    }

    /*Estilos para el p de grid footer y propio grid footer del grid padre secciones */
    .grid_padre_secciones {
        .grid_footer {
            height: 13vh;
            padding-bottom: 30px;
            text-align: center;

            p {
                background-color: transparent;
            }
        }
    }
}